services:
  # Backend API
  - type: web
    name: musicstore-api
    dockerfilePath: ./MusicStore.Api/Dockerfile
    dockerContext: .
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
    healthCheckPath: /api/songs

