services:
  - type: web
    name: musicstore-api
    dockerfilePath: ./MusicStore.Api/Dockerfile
    dockerContext: .
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:${PORT}
    healthCheckPath: /api/songs

